@use '@assets/webColors' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  color: $black;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.basket-icon {
  position: relative;

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $green;
    color: $white;
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}